.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.list {
  list-style-type: none;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 10px 10px 0px;
  padding: 10px;
  background-color: bisque;
  width: 95%;
  border-radius: 5px;
}

.task-button {
  background-color: #282c34;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: whitesmoke;
  border-radius: 5px;
}

.task-button-1 {
  background-color: #282c34;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: whitesmoke;
  margin-left: 11px;
  border-radius: 5px;
}


.container-4{
  overflow: hidden;
  vertical-align: middle;
  white-space: nowrap;
  margin: 10px 10px 10px 0px;
    width: 93%;
}

.container-4 input#input{
  height: 43px;
  background: #e9ecef;
  border: none;
  font-size: 10pt;
  color: black;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
}

.container-5{
  overflow: hidden;
  vertical-align: middle;
  white-space: nowrap;
  display: flex;
  margin-top: 20px;
  margin: 10px 10px 10px 0px;
    width: 93%;
}

.container-5 input#input{
  height: 43px;
  background: #e9ecef;
  border: none;
  font-size: 10pt;
  color: black;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  margin: 0px 10px;
}

.buttons {
  display: flex;
    margin: 10px 10px 30px 10px;
    width: 40%;
    justify-content: space-around;
}

.btn {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size:10px;
  max-width: 160px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; 
}

.btn-3 {
  background: #577fb9;  
  border: 1px solid black;
  letter-spacing: 1px;
  transition: all 150ms linear;
}

.btn-3:hover {
  background: bisque;
  border: 1px solid rgba(#000, .05);
  box-shadow: 1px 1px 2px rgba(#fff, .2);
  color: whitesmoke; 
  text-decoration: none;
  text-shadow: -1px -1px 0 black;
  transition: all 250ms linear;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
